{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans+JP|Open+Sans+Condensed:300i|PT+Sans|Playfair+Display|Rubik|Ubuntu&display=swap" rel="stylesheet">
    <title>Contest</title>

  </head>
  <body>
  <section id="nav-bar">
       <nav class="navbar navbar-expand-md navbar navbar-light">
            <a class="navbar-brand" href="#" target="_blank">
              <img src="{% static 'img/abc_logo.jpg' %}" width="70" height="40" class="d-inline-block align-top" alt="abc_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/" style="color:white;">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"href="#" style="color: white;">Contest</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"href="faqs" style="color: white;">FAQs</a>
                </li>
             </ul>
            </div> 
          </nav> 
  </section>
  <section id="trees">
      
        

                 
                    <p class="inst1">Follow the Theme</p>
                    <img style="height: 50px; width: 50px;" src="{% static 'img/tree_monkey.jpg' %}"  id="tree_monkey1">
                    <img src="{% static 'img/tree.png' %}" alt="green_tree" height="100" class="tree1">
                                     
      
               	
                    <P class="inst2">Serve the cause<br>and tag us</P>
                    <img src="{% static 'img/tree.png' %}" alt="green_tree" height="100" class="tree2" >
                                    
                	

                 
                    <p class="inst3">Earn Rewards<br>points!</p>
                    <img src="{% static 'img/tree.png' %}" alt="green_tree" height="100" class="tree3">
                                     

                    <p class="inst4">And Win<br>surprise gifts</p>
                    <img src="{% static 'img/tree.png' %}" alt="green_tree" height="100" class="tree4">                
              

  
  </section>
      <br>
      <br>
      <hr>
      <br>
      <br>


<section id="past_post">
    <div class="container" id="past_winner">
        <div class="row">
          <div class="col-md-6">
              <div id="april_image" >
              	   <img src="{% static 'img/con2.jpg' %}" >
              </div>
          </div>
          <div class="col-md-6">
              <div class="april">
   			          <h2 class="p_month1">April</h2>
                  <p class="p_head1">Water Logging In Mumbai</p>
                  <p class="p_winner1">Virat Sharma</p>
              </div>
             
          </div>
          
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
         <div class="row">
            <div class="col-md-6">
                <div class="may">
                    <h2 class="p_month2">May</h2>
                    <p class="p_head2">Environmetal Crisis</p>
                    <p class="p_winner2">Rahul Yadav</p>
                </div>
               
            </div>
            <div class="col-md-6">
                <div class="may_image">
                     <img src="{% static 'img/cont2.png' %}">
                </div>
            </div>
          </div>
          <br>
         <br>
         <hr>
         <br>
         <br>
          <div class="row">
            <div class="col-md-6">
                <div class ="june_image">
                     <img src="{% static 'img/cont3.jpg' %}"> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="june">
                    <h2 class="p_month3">June</h2>
                    <p class="p_head3">Animal Abuse</p>
                    <p class="p_winner3">Dinesh Jhadav</p>
                </div>
            </div>
          </div>
    </div>
</section>

     <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
     <script type="text/javascript" src="{% static 'js/abcjs.js' %}"></script>
     <!--<script src="https://kit.fontawesome.com/6a00fc338b.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
